
SetEnv wsgi_max_requests 10
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

<Files *>
  Options -Indexes
  AuthType WebAuth
  require user jmdubois gsparrow jmagie jocallag kzieba khearn merdei mdfritz mmarin nagel rerickso sanguish vsharma2 wkniffin
  satisfy any
  order allow,deny
</Files>
